
{{#partial "content"}}
    <div>
    Animal:

    <div> {{ name }} </div>
        <div> {{ age }} </div>
    <div> {{ ranger }} </div>
    </div>


    <div>
    Endangered Animal:
    <div> {{ names }} </div>
    <div> {{ healthy }} </div>
    <div> {{ ages }} </div>
    <div> {{ rangers }} </div>
    </div>
{{/partial}}
{{>layout.hbs}}